<table class="table table-hover">
    <thead>
        <tr>
            <th>Repo Name</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <% for @repo in @repos %>
            <tr>
                <td>
                    <a href="<%= @repo.url %>"><%= @repo.name %></a>
                </td>
                <td>
                    <%= @repo.description %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>
