<table class="table table-hover">
    <thead>
        <tr>
            <th>Video Name</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <% for @video in @videos %>
            <tr>
                <td>
                    <a href="<%= @video.embed_url %>"<%= @video.title %></a>
                </td>
                <td>
                    <%= @video.description %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>
